{% extends 'base.html.twig' %}

{% block title %} Bilibili Cover Downloader {% endblock %}

{% block stylesheets %}
    <style>
        #toHotList {
            display: inline-block;
            padding: 10px;
            border: 1px darkgray solid;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="toHotList">
        To hot list
    </div>
    <form action="/" method="post">
        av number <input type="text" name="searchText" value="av" title="av number">
        <input type="submit" value="Search">
    </form>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        $("#toHotList").click(function() {
            window.location.replace("/hot_list");
        })
    </script>
{% endblock %}
