{% extends 'base.html.twig' %}

{% block title %}login{% endblock %}

{% block body %}
    <form action="/login" method="post">
        username <input type="text" name="name">
        password <input type="text" name="password">
        <input type="submit" value="login">
    </form>
{% endblock %}