{% extends 'index.html.twig' %}

{% block title %}PRIVILEGE{% endblock %}

{% block body %}
    <h1>隐私政策</h1>
    <h3>一、我们收集的信息</h3>
    <p>
        在您每一次检索之后应用会自动上传您搜索的封面信息至服务器，包括标题、UP 主 ID 和封面图片的 URL，但是我们不会保存、使用或与他人分享您的包括 IP 在内的任何个人信息。
    </p>
    <h3>二、我们可能向您发送的信息</h3>
    <p>
        我们可能在必要时（例如，因系统维护而暂停服务时）向您发出与服务有关的公告。
    </p>
    <h3>三、联系我们</h3>
    <p>
        如您对本政策或其他相关事宜有疑问，请通过 lee.liuliet@hotmail.com 与我们联系。
    </p>
    <h3>四、变更</h3>
    <p>
        我们可能适时修订本政策内容。如该等变更会导致您在本政策项下权利的实质减损，我们将在变更生效前，通过在页面显著位置提示等通知您。在该种情况下，若您继续使用我们的服务，即表示同意受经修订的政策约束。
    </p>
    <p>
        更新日期: 2018年9月10日
    </p>
{% endblock %}
